src/lib/
# Билды
build/
bin/
out/

# Скомпилированные файлы
*.o
*.so
*.a
*.dll
*.exe

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
build-tsan/
_CPack_Packages/
pkgroot/

# Логи
*.log
*.clang-format

# Временные файлы
*.tmp
*.swp

# VS Code (локальные настройки)
.vscode/
